@{
    ViewData["Title"] = "Библиотека";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    @if (Program.Librarian != null)
    {
        <p>
            <strong> Модуль «АРМ библиотекаря»</strong><br />
            Работники библиотеки вводят информацию о поступлении книг, регистрируют читателей, отмечают занятые книги,
            оформляют документы, информируют читателей о наличии книг. Ежедневно формируется список отданных книг на
            руки читателям.
        </p>
    }
</div>
