@{
    ViewData["Title"] = "Библиотека";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    @if (Program.Reader != null)
    {
        <p>
            <strong>Модуль «АРМ читателя»</strong><br />
            Модуль позволяет читателю просмотреть список своих договоров, рассчитать стоимость книги, найти и
            забронировать книгу в библиотеке.
        </p>
    }
</div>
