@{
    ViewData["Title"] = "Библиотека";
}

    <div class="text-center">
        <h1 class="display-4">Добро пожаловать</h1>
        @if (Program.Reader != null)
        {
            <p>
                <strong>Модуль «АРМ читателя»</strong><br />
            </p>
            @if (Program.Reader != null)
            {
                <hr />
                @Program.Reader.Role
                <br />
                @Program.Reader.FIO
                <hr />
            }
        }
    </div>
