
@{
    ViewData["Title"] = "Отчеты";
}

<div class="text-center text-black-50">
    <h1>Отчеты</h1>
</div>
<hr />
<p> <strong> <a class="btn btn-dark btn-sm" href="/Reports/DateReport"> Cуммарная стоимость выданных книг по дням месяца</a></strong></p>
<hr />
<p> <strong> <a class="btn btn-dark btn-sm" href="/Reports/Charts">Диаграмма выданных книг по жанрам</a></strong></p>
<hr />
<p> <strong> <a class="btn btn-dark btn-sm" href="/Reports/SumByMonths">Количество выданных книг по читателям и месяцам года</a></strong></p>
<hr />
<p> <strong> <a class="btn btn-dark btn-sm" href="/Reports/BackUpToJson">Архив</a></strong></p>
<hr />

