@model PISBusinessLogic.BindingModels.UserBindingModel

@{
    ViewData["Title"] = "Авторизация";
}
<div class="text-center text-black-50">
    <h1>@ViewData["Title"]</h1>
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @style = "color: red" })
    <p>
        Логин:<br>
        @Html.EditorFor(x => x.Email)<br>
        Пароль:<br>
        @Html.EditorFor(x => x.Password)
    </p>
    <button class="btn btn-dark btn-sm" type="submit">Войти</button>
}
