@{
    ViewData["Title"] = "Библиотека";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    @if (Program.Librarian != null)
    {
        <p>
            <strong> Модуль «АРМ библиотекаря»</strong><br />
            Работники библиотеки вводят информацию о поступлении книг, регистрируют читателей, отмечают занятые книги,
            оформляют документы, информируют читателей о наличии книг. Ежедневно формируется список отданных книг на
            руки читателям.
        </p>
    }
    @if (Program.Reader != null)
    {
        <p>
            <strong>Модуль «АРМ читателя»</strong><br />
            Модуль позволяет читателю просмотреть список своих договоров, рассчитать стоимость книги, найти и
            забронировать книгу в библиотеке.
        </p>
    }
    @if (Program.Accountant != null)
    {
        <p>
            <strong> Модуль «АРМ бухгалтера по учету работы библиотекарей» </strong><br />
            Бухгалтер ведет учет работы библиотекарей и начисляет им заработную плату в соответствии с комиссионными.
        </p>
    }
</div>
