
@{
    ViewData["Title"] = "Отчеты";
}

<div class="text-center text-black-50">
    <h3>Отчеты</h3>
</div>
<hr />
<p> <strong> <a class="btn btn-dark btn-sm" href="/Report/Chart">Диаграмма стоимость заключенных договоров по библиотекарям</a></strong></p>
<p> <strong> <a class="btn btn-dark btn-sm" href="/Report/LeadSalary">Ведомость заработной платы</a></strong></p>
<p> <strong> <a class="btn btn-dark btn-sm" href="/Report/DistributionSalary">Распределение зарплаты библиотекарей по месяцам</a></strong></p>
<p> <strong> <a class="btn btn-dark btn-sm" href="/Report/CheckLibrarian">Проверка отчета библиотекаря</a></strong></p>
<p> <strong> <a class="btn btn-dark btn-sm" href="/Report/BackUpToJson">Архив</a></strong></p>